#################################################################
#														        #
# Configuration for the Docker Container of the email service.  #
#														        #
#################################################################


# The URL of the Postgres Database.
#
# When using a Postgres database on the host machine, you can use the URL
# jdbc:postgresql://host.docker.internal:5432/<database>?useSSL=false
#
# Otherwise use the following URL Scheme to point to a database at a custom location:
# jdbc:postgresql://<hostname>:<port>/<database>?useSSL=false
#
# When using the default Postgres Docker Container, use the URL
# jdbc:postgresql://localhost:5432/<database>
#
# When using db and api with docker compose, use the URL
# jdbc:postgresql://<service-name-of-database-in-docker-compose>:<database-port-in-docker-compose>/<database-name>
# example db url for both api & db in docker container : jdbc:postgresql://db:5432/emails_db
SPRING_DATASOURCE_URL=<db-connection-string>

# The username of the Postgres User, should be the same as in the db.env POSTGRES_USER.
SPRING_DATASOURCE_USERNAME=<db-username>

# The password of the Postgres User, should be the same as in the db.env POSTGRES_PASSWORD.
SPRING_DATASOURCE_PASSWORD=<db-password>
