#############################################################
#														    #
# Configuration for the PGAdmin2 Docker Container.          #
#														    #
#############################################################

# The preferred username for the Postgres User Email, e.g. user-name@domain.de
PGADMIN_DEFAULT_EMAIL=<useremail>

# A secure password for the Postgres User, used in db.env POSTGRES_USER.
PGADMIN_DEFAULT_USER=<username>

# The name of the database used in db.env POSTGRES_PASSWORD
PGADMIN_DEFAULT_PASSWORD=<password>