#############################################################
#														    #
# Configuration for the PGAdmin2 Docker Container.          #
#														    #
#############################################################

# The preferred username for the Postgres User.
PGADMIN_DEFAULT_EMAIL=<useremail>

# A secure password for the Postgres User.
PGADMIN_DEFAULT_USER=<username>

# The name of the database should use.
PGADMIN_DEFAULT_PASSWORD=<<password>