#############################################################
#														    #
# Configuration for the Postgres Database Docker Container. #
#														    #
#############################################################

# The preferred username for the Postgres User, e.g. postgres
DATABASE_USER=<username>

# A secure password for the Postgres User.
DATABASE_PASSWORD=<password>

# The name of the database should use. e.g. emails_db
DATABASE_NAME=<database_name>
