#############################################################
#														    #
# Configuration for the Postgres Database Docker Container. #
#														    #
#############################################################

# The preferred username for the Postgres User, e.g. postgres
POSTGRES_USER=<username>

# A secure password for the Postgres User.
POSTGRES_PASSWORD=<password>

# The name of the database should use. e.g. emails_db
POSTGRES_DB=<database_name>
