#############################################################
#														    #
# Configuration for the Postgres Database Docker Container. #
#														    #
#############################################################

# The preferred username for the Postgres User.
DATABASE_USER=<username>

# A secure password for the Postgres User.
DATABASE_PASSWORD=<password>

# The name of the database should use.
DATABASE_NAME=<database_name>
